.table td {
  cursor: pointer;
  user-select: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}



.accordion-body {
  overflow-x: auto;
}

td.region {
  border: 2px solid #FFD700;
}

td.table-success {
  position: relative;
}

td.table-success::before {
  content: 'Выбрано';
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

td.empty {
  cursor: default;
  color: transparent;
  border: 1px solid #dfe0e1;
  background-color: #fff;
}

.legend td {
  cursor: default;
}

td.empty:first-child {
  color: #212529;
}

td.other {
  border: 1px solid #dfe0e1;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .title-wrapper {
    flex-direction: column;
  }

  .legend {
    flex-direction: column;
  }

  .filter {
    display: flex;
    flex-direction: column;
  }
}

td.over-quota {
  background: rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
  cursor: default;
}

.quota {
  font-size: 0.75em;
  margin-top: auto;
  display: block;
  position: absolute;
  bottom: 3px;
  left: 3px;
}